body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none !important;
}
a:hover {
  color: whitesmoke;
}

marquee {
  display: block;
  width: 130px;
}
